*{
  margin: 0;
  padding: 0;
}

body{
  font-family: PT Sans;
  background-color: #f2f2f2;
}

.shopname{
  margin-top: 20px;
  font-size: larger;
}

.homepageheader{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(15, 17, 15, 0.7)),url(./homepageimages/20.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}


/* nav bar*/


p{
  color: #606066;
}





.logo{
  width: 65px;
  height: 65px;
  margin: 0px 0px 0px 0px;
  
  
}


nav{
  display: flex;
  text-align: left;
  align-items: center;
  background-color:#ED1b24;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 70px;
  
}


.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 4px 3px;
  margin-left: 95px;
  margin-top: 10px;
  
  
  
  
}

.nav-links ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 15.5px;
  font-weight: 500;
  
}

.nav-links ul li::after{
 content: '';
 width: 0%;
 height: 2px;
 background: #ffffff;
 display: block;
 margin: auto;
 transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 90%;
}

.text-box{
  width: 98%;
  color:#f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.home-button{
background-color: #b33238;
color: rgb(255, 255, 255);
font-size: 20px;
border: none;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
padding: 10px 50px;
cursor: pointer;

}

.home-button:hover{
  border: 1px soild #ffffff;
  background: #ED1b24;
  transition: 1s;

}
nav .fa{
  display: none;
}


/*image slider*/

.picture{
  width: 100%;
  height: 140px;
  
  
}



#slider{
  overflow: hidden;
  margin-top: 7px;
  margin-top: 10px;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

#slider figure img{
  float: left;
  width: 20%;
  object-fit: cover;
}

@keyframes slider{
  0%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  100%{
    left: 0;
  }
}




.item{
  width: 190px;
  height: 170px;
  margin-left: 28px;
  margin-right: 20px;
}





.price{
  color:#606060;
}
.itemname{
  padding-left: 52px;
  margin-bottom: 15px;
}

.itemprice{
  padding-left: 28px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.button{
  padding-left: 45px;
  
  
  
 
}

.addtocart{
  width: 15px;
  height: 15px;
  margin-top: 5px;
  
}

.addtocartbutton{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: none;
  border-style: none;
  background-color: #ED1B24;
  color:aliceblue;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(61, 61, 61);
  cursor: pointer;
  transition: 0.5s;
  margin-left: 60px;
  
  
  
  
}


.itemcontainer{
  
  margin-left: 60px;
  padding-left: 10px;
  background-color:rgb(248, 248, 248);
  border-radius: 20px;
  margin-right: 60px;
  }


.itemcontainer:hover{

  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  border-radius: 20px;
  transition: 0.5s;
  transform: translateY(-5px);
  
}


.text{
  padding-left: 5px;
}


/*homepage products*/

.homepageproducts{
  display:flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 30px;
  

  
}



/*customer review*/


.customerrev {
  padding: 100px;
  margin-bottom: 20px;
  
}

.cusrev {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

figure {
  margin: 0;
  text-align: center;
}

.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

figcaption {
  margin-top: 0.5rem;
  font-weight: bold;
}

blockquote {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 5px solid #ccc;
  margin: 0;
}

blockquote p {
  margin: 0;
}

/* Responsive styles */
@media (max-width: 780px) {
  

  .cusrev {
      padding: 1rem;
  }

  article {
      flex-direction: column;
      align-items: center;
  }

  blockquote {
      width: 100%;
  }

  .nav-links ul li{
  
    margin-left: 5px;
   
  }
  
  .nav-links ul li{
    
    margin-left: 5px;
    
}


.nav-links ul li a{

  font-size: 12px;
  
  
}

}


topic{
  margin-bottom: 20px;
   margin-top: 20px; 
   text-align: center;
}






/*foooter*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

ul{
  list-style: none;
}



.icon{
  width: 20px;
  height: 20px;
}

.footer{
  background-color: #ED1B24;
  padding: 70px 0;
  margin-top: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;

}

.socialmedia{
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.footer-col h4{
  font-size: 18;
  color: white;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-weight: 500;
  position: relative;

}

.footer-col h4::before{
  content:'' ;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(252, 255, 251);
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}

.footer-col ul li a{
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color:white;
  display: block;
  transition: all 0.5s ease;
  margin-bottom: 10px;

}

.footer-col ul li a:hover{
  color: rgb(227, 109, 109);
  padding-left: 6px;
}











@media(max-width:768px){
  .footer-col{
    width:100%;
    height: auto;
    text-align: center;
  }
  .footer-col h4{
    margin-top: 50px;
    
  }

  .footer-col h4::before{

    width: 50px;
    margin-left: 170px;
  }

.icon{
  margin-left: 60px;
}


.socialmedia li{
  margin-left: 80px;
}

/*shopping items*/

.homepageproducts{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}



/*hamberger menu*/



.text-box h1{
  font-size: 55px;
}



.logo{
  display: none;
}

.nav-links ul li{
  display: block;

}

.nav-links{
  position: absolute;
  background:#000;
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index:2;
}

nav .fa{
  display:block;
  color: white;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.nav-links ul{
padding: 30px;
}

.reviews{
font-size: 10px;
}




/*customer reviews*/
.cusrev {
  padding: 1rem;
}

article {
  flex-direction: column;
  align-items: center;
}

blockquote {
  width: 100%;
}

}






/*creating horizontal line */



.topic{
  overflow: hidden;
  text-align: center;
}

.topic:before,
.topic:after{
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 35%;

}

.topic:before{
  right: 0.5em;
  margin-left: -50%;
}

.topic:after{
  left: 0.5em;
  margin-right: -50%;
}




.labelicons{
  
  width:50px;
  height: 50px;
}

.discountlabel{
 
  right: 0;
  top: 15px;
  
}


.shopname{
  font-size: 800px;
}



